body{
    position: relative;
    width: 1440px;
    height: 1024px;
        
    background: #FDFFFD;
    }
header{
    position: absolute;
    width: 5500px;
    height: 400px;
    left: 0px;
    top: 0px;
    
    background: #4B6FC7;
    border: 10px solid #000000;
    box-sizing: border-box;
    }
    
    .volver{
        position: absolute;
        width: 150px;
        height: 150px;
        left: 40px;
        top: 40px;
    }
    .title{
        position: absolute;
        width: 4000px;
        height: 200px;
        left: 1000px;
        top: 50px;
        font-family:fallinlove;
        font-style:oblique;
        font-weight:bold;
        font-size: 150px;
        color: #000000;
        }
    .img2{
        position: absolute;
        left: 600px;
        width: 400px;
        height: 400px;
        top:0px;
    }
    
    .img{
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 50px;
        top: 400px;
    }
    .img2{
        position: absolute;
        left: 300px;
        width: 400px;
        height: 400px;
        top:0px;
    }
    
    .c2{
    position: absolute;
    width: 5500px;
    height: 250px;
    left: 0px;
    top: 2150px;
    background: #FCECED;
    border: 10px solid #000000;
    box-sizing: border-box;
    }
    .sub{
        position: absolute;
    width: 5500px;
    height: 250px;
    left: 2300px;
    top: 2150px;
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 65px;
    color: #000000;
    }
    .title2{
        position: absolute;
        width: 1000px;
        height: 200px;
        left: 2200px;
        top: 75px;
        font-family:Arial;
        font-style:oblique;
        font-weight:bold;
        font-size: 100px;
        color: #000000;
    }
    .title3{
        position: absolute;
        width: 1000px;
        height: 150px;
        left: 3100px;
        top: 75px;
        font-family:Arial;
        font-style:oblique;
        font-weight:bold;
        font-size: 100px;
        color: #000000;
    }
    h2{
        position: absolute;
        width: 3000px;
        height: 142px;
        left: 2035px;
        top: 500px;
        
        font-family: 'Monda';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 57px;
        
        color: #000000;
    }
    
    .c1{
        
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 2700px;
    top: 800px;
    
    background: #FCDCE5;
    border: 10px solid #000000;
    box-sizing: border-box;
    }
    
    .c2{
        position: absolute;
        width: 600px;
        height: 150px;
        left: 2900px;
        top: 1000px;
        background: #ACABE5;
        border: 6px solid #000000;
        box-sizing: border-box;
    }
    
    
    .img2{
        position: absolute;
        left: 600px;
        width: 400px;
        height: 400px;
        top:0px;
    }

    .b1{
        position: absolute;
        width: 500px;
        height: 200px;
        left: 100px;
        top: 50px;
        
        font-family: 'Monda';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 65px;
        
        color: #000000;
        }
        
        .b2{
         position: absolute;
        width: 219px;
        height: 65px;
        left: 100px;
        top: 30px;
        font-family: 'Monda';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 65px;
        color: #000000;
        }
    
        .t1{
        width: 171px;
        height: 57px;
        left: 5000px;
        top: 1000px;
        color: #000000;
        font-family: 'Monda';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 57px;
        }
    
        .n1{
            position: absolute;
            width: 800px;
            height: 150px;
            left: 350px;
            top: 200px;
            font-family: 'Monda';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 65px;
            color: #FDFFFD
    
        }
        .n2{
            
                position: absolute;
                width: 800px;
                height: 150px;
                left: 350px;
                top: 600px;
                font-family: 'Monda';
                font-style: normal;
                font-weight: 400;
                font-size: 80px;
                line-height: 65px;
                color: #FDFFFD
        
         }
        .entrada2 {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:400px;
            left: 200px;
          }
          .entrada1 {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:800px;
            left: 200px;
          }
          
          .txt {
            font-size: 100px;
            border-radius: 25px;
            width: 800px;
            height: 150px;
     
          }
    
          .txt2 {
            font-size: 100px;
            border-radius: 25px;
            width: 800px;
            height: 150px;
    
          }
          
    
          .Contenedor1 {
            position: absolute;
            width: 1300px;
            height: 1200px;
            left: 2500px;
            top: 700px;
            background: #FD5875;
            border: 10px solid #000000;
            box-sizing: border-box;
          }
        
        .c2{
            position: absolute;
            width: 600px;
            height: 150px;
            left: 820px;
            top: 1970px;
            background: #ACABE5;
            border: 6px solid #000000;
            box-sizing: border-box;
        }
        
        .c3{
            position: absolute;
            width: 600px;
            height: 150px;
            left: 2830px;
            top: 1730px;
            background: #ACABE5;
            border: 7px solid #000000;
            box-sizing: border-box;
        }